<ion-header>
  <ion-navbar>
    <ion-title>
      Circuits
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="about" *ngIf="circuits.length > 0" >
      <ion-card *ngFor="let circuit of circuits" (click)="openCircuitDetails(circuit)">
        <ion-card-header>
          {{circuit.getName()}}
        </ion-card-header>
        <ion-card-content>
          <ion-list class=" ">
            <table style="width:100%">
              <tr>
                <td align="left" *ngIf="circuit.getExercises().length > 0"> <font size="3"> {{circuit.getExerciseName(0)}} </font></td>
              </tr>
              <tr>
                <td align="left" *ngIf="circuit.getExercises().length > 1"> <font size="3"> {{circuit.getExerciseName(1)}} </font></td>
              </tr>
            </table>
          </ion-list>
        </ion-card-content>
      </ion-card>


      <button fab-bottom fab-right fab (click)="doPrompt()">
        <ion-icon name="add"></ion-icon>
      </button>
</ion-content>
